.list-item {
     
    display: flex;
    gap: 8px;
    align-items: center;

    border-bottom: 1px solid #dee2e6;
    padding-bottom: 8px;
}

.list-item-blok{
    display: flex;
    gap: 16px;
    flex-direction: column;

}

.list-item-title {
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

.list-item-content {
    display: flex;
    align-items: center;
    gap: 8px;
}