.title {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title-text{
    font-size: 56px;
    font-weight: bold;
    color: #000;
}

.title-sub-blok{
    display: flex;
    gap: 16px;
}

.title-sub-value{
    display: flex;
    gap: 16px;
    align-items: center;
}

.title-sub-value:not(:last-child)::after {
    content: "";
    display: block;
    height: 4px;
    width: 4px;
    border-radius: 4px;
    background-color: #000;
}